# All outputs should be fast
NET XU[*]                  FAST;
#NET SDRAM_Clk<0>      SLOW; 
#NET SDRAM_Clk<0>      DRIVE = 24;

#NET SDRAM_Clk<1>      SLOW; 
#NET SDRAM_Clk<1>      DRIVE = 24;

NET "XU[34]"    TNM_NET = "XU[34]";
#NET "CLK_24MHZ" TNM_NET = "CLK_24MHZ";
#NET "CLK2"    TNM_NET = "CLK2";

#TIMESPEC "TS_CLK_24MHZ" = PERIOD "CLK_24MHZ" 41 ns HIGH 50 %;
#TIMESPEC "TS_CLK_ARMHCLK"   = PERIOD "XU[34]" 24 ns HIGH 50 %;

#OFFSET = IN 25 ns BEFORE "CLK_24MHZ";
#OFFSET = OUT 25 ns AFTER "CLK_24MHZ";
#OFFSET = IN 20 ns BEFORE "CLK2";
#OFFSET = OUT 20 ns AFTER "CLK2";

#TIMESPEC "TS_P2P" = FROM "PADS" TO "PADS" 10 ns;

#AC97
NET "AC97_BCLK"  LOC = "AJ9"  ;
NET "AC97_SYNC"  LOC = "AJ10"  ;
NET "AC97_RST"  LOC = "J17"  ;

NET "AC97_SDO"  LOC = "AN5"  ;
NET "AC97_SDI"  LOC = "AP5"  ;

#NET "AC97_SDO"  LOC = "AP5"  ;
#NET "AC97_SDI"  LOC = "AN5"  ;


#I2S
NET "I2S_SD_I"  LOC = "AM10"  ;
NET "I2S_SD_O"  LOC = "AF10"  ;
NET "I2S_SCK_I"  LOC = "AE9"  ;
NET "I2S_SCK_O"  LOC = "AJ12"  ;
NET "I2S_WS_I"  LOC = "AK12"  ;
NET "I2S_WS_O"  LOC = "AN8"  ;

#I2S
NET "I2S_SD_I_1"  LOC = "AM8"  ;
NET "I2S_SD_O_1"  LOC = "AJ11"  ;
NET "I2S_SCK_I_1"  LOC = "AK11"  ;
NET "I2S_SCK_O_1"  LOC = "AP7"  ;
NET "I2S_WS_I_1"  LOC = "AP6"  ;
NET "I2S_WS_O_1"  LOC = "AL5"  ;


#cis interface
NET "CHSYNC"  LOC = "k32"  ;
NET "CVSYNC"  LOC = "R23"  ;
NET "CENB"  LOC = "K33"  ;
NET "CVCLK"  LOC = "r22"  ;
NET "CSDA"  LOC = "N27"  ;
NET "CMCLK"  LOC = "P27"  ;
NET "CSCL"  LOC = "M30"  ;
NET "CY<0>"  LOC = "M31"  ;
NET "CY<1>"  LOC = "J34"  ;
NET "CY<2>"  LOC = "K34"  ;
NET "CY<3>"  LOC = "N29"  ;
NET "CY<4>"  LOC = "N30"  ;
NET "CY<5>"  LOC = "L33"  ;
NET "CY<6>"  LOC = "L34"  ;
NET "CY<7>"  LOC = "M32"  ;
NET "CRESETB"  LOC = "M33"  ;

# X side connector
# Async Memory
NET "MEM_DATA<16>"  LOC = "P11"  ; 
NET "MEM_DATA<17>"  LOC = "G3"  ; 
NET "MEM_DATA<18>"  LOC = "G2"  ; 
NET "MEM_DATA<19>"  LOC = "L8"  ; 
NET "MEM_DATA<20>"  LOC = "M8"  ; 
NET "MEM_DATA<21>"  LOC = "K6"  ; 
NET "MEM_DATA<22>"  LOC = "K3"  ; 
NET "MEM_DATA<23>"  LOC = "L6"  ; 
NET "MEM_DATA<24>"  LOC = "L3"  ; 
NET "MEM_DATA<25>"  LOC = "K2"  ; 
NET "MEM_DATA<26>"  LOC = "K1"  ; 
NET "MEM_DATA<27>"  LOC = "M6"  ; 
NET "MEM_DATA<28>"  LOC = "M5"  ; 
NET "MEM_DATA<29>"  LOC = "M3"  ; 
NET "MEM_DATA<30>"  LOC = "M2"  ; 
NET "MEM_DATA<31>"  LOC = "L1"  ; 

# USB
NET "USB_nCS"		LOC = "AL24";
NET "USB_nWR"       LOC = "AL25";
NET "USB_nRD"       LOC = "AL26";
NET "USB_INT"       LOC = "AN24";
NET "USB_WAKEUP"    LOC = "AM26";
NET "USB_DRQ<0>"    LOC = "AJ25";
NET "USB_DRQ<1>"    LOC = "AK26";
NET "USB_DACK<0>"   LOC = "AH25";
NET "USB_DACK<1>"   LOC = "AN22";
NET "USB_EPT<0>"    LOC = "AP24";
NET "USB_EPT<1>"    LOC = "AN23";



# uart

# fpga user led
#NET "SW<4>"  LOC = "AM13"  ; 
#NET "SW<5>"  LOC = "AN13"  ; 
#NET "SW<6>"  LOC = "AM6"  ; 
#NET "SW<7>"  LOC = "AM5"  ; 







# ethernet
NET "ETH_nCS3"  LOC = "D24"  ; #EXP_CON66
NET "ETH_OE"  LOC = "F26"  ; #EXP_CON67
NET "ETH_WE"  LOC = "F25"  ; #EXP_CON68
NET "ETH_nRESET"     LOC = "C24";   #EXP_CON69
NET "ETH_IRQ"         LOC = "C23";   #EXP_CON70				 

NET "ETH_ADDR<0>"  LOC = "AE19"  ; #EXP_CON51
NET "ETH_ADDR<1>"  LOC = "AD19"  ; #EXP_CON52
NET "ETH_ADDR<2>"  LOC = "G16"  ; #EXP_CON53
NET "ETH_ADDR<3>"  LOC = "G17"  ; #EXP_CON54
NET "ETH_ADDR<4>"  LOC = "J19"  ; #EXP_CON55
NET "ETH_ADDR<5>"  LOC = "K19"  ; #EXP_CON56
NET "ETH_ADDR<6>"  LOC = "F16"  ; #EXP_CON57
NET "ETH_ADDR<7>"  LOC = "E16"  ; #EXP_CON58
NET "ETH_ADDR<8>"  LOC = "K17"  ; #EXP_CON59
NET "ETH_ADDR<9>"  LOC = "K18"  ; #EXP_CON60
NET "ETH_ADDR<10>"  LOC = "E17"  ; #EXP_CON61
NET "ETH_ADDR<11>"  LOC = "E18"  ; #EXP_CON62
NET "ETH_ADDR<12>"  LOC = "C27"  ; #EXP_CON63
NET "ETH_ADDR<13>"  LOC = "B27"  ; #EXP_CON64
NET "ETH_ADDR<14>"  LOC = "D25"  ; #EXP_CON65

NET "ETH_DATA<0>"  LOC = "H27"  ; #EXP_CON71
NET "ETH_DATA<1>"  LOC = "H28"  ; #EXP_CON72
NET "ETH_DATA<2>"  LOC = "C32"  ; #EXP_CON73
NET "ETH_DATA<3>"  LOC = "D32"  ; #EXP_CON74
NET "ETH_DATA<4>"  LOC = "J27"  ; #EXP_CON75
NET "ETH_DATA<5>"  LOC = "K27"  ; #EXP_CON76
NET "ETH_DATA<6>"  LOC = "M25"  ; #EXP_CON77
NET "ETH_DATA<7>"  LOC = "M26"  ; #EXP_CON78
NET "ETH_DATA<8>"  LOC = "N22"  ; #EXP_CON79
NET "ETH_DATA<9>"  LOC = "N23"  ; #EXP_CON80
NET "ETH_DATA<10>"  LOC = "H29"  ; #EXP_CON81
NET "ETH_DATA<11>"  LOC = "H30"  ; #EXP_CON82
NET "ETH_DATA<12>"  LOC = "C33"  ; #EXP_CON83
NET "ETH_DATA<13>"  LOC = "C34"  ; #EXP_CON84
NET "ETH_DATA<14>"  LOC = "D34"  ; #EXP_CON85
NET "ETH_DATA<15>"  LOC = "E34"  ; #EXP_CON86
NET "ETH_LCLK"	LOC = "G30"   ; #EXP_CON87
NET "ETH_BE<0>"	LOC = "G31"   ; #EXP_CON88
NET "ETH_BE<1>"	LOC = "J29"   ; #EXP_CON89


#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "CLK2"  LOC = "AH18"  ; 
NET "CLK_24MHZ"  LOC = "H19"  ; 
NET "DATACTL0x"  LOC = "AD21" | SLEW = FAST ; 
NET "DATACTL1x"  LOC = "AD20" | SLEW = FAST ; 
NET "DATACTL2x"  LOC = "AM15" | SLEW = FAST ; 

NET "LEDS<0>"  LOC = "B23"  ; 
NET "LEDS<1>"  LOC = "A23"  ; 
NET "LEDS<2>"  LOC = "A26"  ; 
NET "LEDS<3>"  LOC = "B26"  ; 
NET "LEDS<4>"  LOC = "A24"  ; 
NET "LEDS<5>"  LOC = "A25"  ; 
NET "LEDS<6>"  LOC = "G25"  ; 
NET "LEDS<7>"  LOC = "H25"  ; 
NET "MEM_ADDR<0>"  LOC = "F1"  ; 
NET "MEM_ADDR<10>"  LOC = "L5"  ; 
NET "MEM_ADDR<11>"  LOC = "L4"  ; 
NET "MEM_ADDR<12>"  LOC = "J2"  ; 
NET "MEM_ADDR<13>"  LOC = "J1"  ; 
NET "MEM_ADDR<14>"  LOC = "R11"  ; 
NET "MEM_ADDR<15>"  LOC = "T11"  ; 
NET "MEM_ADDR<16>"  LOC = "C4"  ; 
NET "MEM_ADDR<17>"  LOC = "C3"  ; 
NET "MEM_ADDR<18>"  LOC = "F5"  ; 
NET "MEM_ADDR<19>"  LOC = "G5"  ; 
NET "MEM_ADDR<1>"  LOC = "G1"  ; 
NET "MEM_ADDR<20>"  LOC = "D4"  ; 
NET "MEM_ADDR<21>"  LOC = "E4"  ; 
NET "MEM_ADDR<22>"  LOC = "M10"  ; 
NET "MEM_ADDR<23>"  LOC = "N13"  ; 
NET "MEM_ADDR<2>"  LOC = "J4"  ; 
NET "MEM_ADDR<3>"  LOC = "K4"  ; 
NET "MEM_ADDR<4>"  LOC = "H3"  ; 
NET "MEM_ADDR<5>"  LOC = "H2"  ; 
NET "MEM_ADDR<6>"  LOC = "P10"  ; 
NET "MEM_ADDR<7>"  LOC = "P9"  ; 
NET "MEM_ADDR<8>"  LOC = "M7"  ; 
NET "MEM_ADDR<9>"  LOC = "N7"  ; 
NET "MEM_DATA<0>"  LOC = "N12"  ; 
NET "MEM_DATA<10>"  LOC = "J5"  ; 
NET "MEM_DATA<11>"  LOC = "H5"  ; 
NET "MEM_DATA<12>"  LOC = "H4"  ; 
NET "MEM_DATA<13>"  LOC = "N10"  ; 
NET "MEM_DATA<14>"  LOC = "N9"  ; 
NET "MEM_DATA<15>"  LOC = "P12"  ; 
NET "MEM_DATA<1>"  LOC = "F4"  ; 
NET "MEM_DATA<2>"  LOC = "F3"  ; 
NET "MEM_DATA<3>"  LOC = "C2"  ; 
NET "MEM_DATA<4>"  LOC = "D2"  ; 
NET "MEM_DATA<5>"  LOC = "D1"  ; 
NET "MEM_DATA<6>"  LOC = "E1"  ; 
NET "MEM_DATA<7>"  LOC = "E3"  ; 
NET "MEM_DATA<8>"  LOC = "E2"  ; 
NET "MEM_DATA<9>"  LOC = "J6"  ; 
NET "MEM_F_0x"  LOC = "L9"  ; 
NET "MEM_FLASH_NBYTE"  LOC = "K28"  ; 
NET "MEM_FLASH_nCS1"  LOC = "E33"  ; 
NET "MEM_nBE<0>"  LOC = "P22"  ; 
NET "MEM_nBE<1>"  LOC = "R21"  ; 
NET "MEM_nBE<2>"  LOC = "F33"  ; 
NET "MEM_nBE<3>"  LOC = "F34"  ; 
NET "MEM_OE"  LOC = "N25"  ; 
NET "MEM_SRAM_nCS0"  LOC = "E32"  ; 
NET "MEM_WE"  LOC = "P26"  ; 

#SDRAM
NET "SDRAM_Addr<0>"  LOC = "AD6"  ; 
NET "SDRAM_Addr<10>"  LOC = "AG2"  ; 
NET "SDRAM_Addr<11>"  LOC = "AG1"  ; 
NET "SDRAM_Addr<12>"  LOC = "AC10"  ; 
NET "SDRAM_Addr<1>"  LOC = "AD5"  ; 
NET "SDRAM_Addr<2>"  LOC = "AC7"  ; 
NET "SDRAM_Addr<3>"  LOC = "AB8"  ; 
NET "SDRAM_Addr<4>"  LOC = "Y16"  ; 
NET "SDRAM_Addr<5>"  LOC = "AA15"  ; 
NET "SDRAM_Addr<6>"  LOC = "AE4"  ; 
NET "SDRAM_Addr<7>"  LOC = "AD4"  ; 
NET "SDRAM_Addr<8>"  LOC = "AH3"  ; 
NET "SDRAM_Addr<9>"  LOC = "AH2"  ; 
NET "SDRAM_Ba<0>"  LOC = "AB10"  ; 
NET "SDRAM_Ba<1>"  LOC = "AK3"  ; 
NET "SDRAM_Casn"  LOC = "AF8"  ; 
NET "SDRAM_Cke"  LOC = "Y13"  ; 
NET "SDRAM_Clk<0>"  LOC = "AA9" | SLEW = SLOW  | DRIVE = 24 ; 
NET "SDRAM_Clk<1>"  LOC = "AA8" | SLEW = SLOW  | DRIVE = 24 ; 
NET "SDRAM_Csn"  LOC = "AH5"  ; 
NET "SDRAM_DATA<0>"  LOC = "AC9"  ; 
NET "SDRAM_DATA<10>"  LOC = "AJ2"  ; 
NET "SDRAM_DATA<11>"  LOC = "AJ1"  ; 
NET "SDRAM_DATA<12>"  LOC = "AG6"  ; 
NET "SDRAM_DATA<13>"  LOC = "AG5"  ; 
NET "SDRAM_DATA<14>"  LOC = "AE7"  ; 
NET "SDRAM_DATA<15>"  LOC = "AD7"  ; 
NET "SDRAM_DATA<16>"  LOC = "AB6"  ; 
NET "SDRAM_DATA<17>"  LOC = "AB5"  ; 
NET "SDRAM_DATA<18>"  LOC = "AC3"  ; 
NET "SDRAM_DATA<19>"  LOC = "AC2"  ; 
NET "SDRAM_DATA<1>"  LOC = "AC8"  ; 
NET "SDRAM_DATA<20>"  LOC = "Y11"  ; 
NET "SDRAM_DATA<21>"  LOC = "AA11"  ; 
NET "SDRAM_DATA<22>"  LOC = "AD2"  ; 
NET "SDRAM_DATA<23>"  LOC = "AD1"  ; 
NET "SDRAM_DATA<24>"  LOC = "Y14"  ; 
NET "SDRAM_DATA<25>"  LOC = "AA13"  ; 
NET "SDRAM_DATA<26>"  LOC = "AC5"  ; 
NET "SDRAM_DATA<27>"  LOC = "AC4"  ; 
NET "SDRAM_DATA<28>"  LOC = "AF1"  ; 
NET "SDRAM_DATA<29>"  LOC = "AE1"  ; 
NET "SDRAM_DATA<2>"  LOC = "AG3"  ; 
NET "SDRAM_DATA<30>"  LOC = "AE3"  ; 
NET "SDRAM_DATA<31>"  LOC = "AE2"  ; 
NET "SDRAM_DATA<3>"  LOC = "AF3"  ; 
NET "SDRAM_DATA<4>"  LOC = "AF6"  ; 
NET "SDRAM_DATA<5>"  LOC = "AE6"  ; 
NET "SDRAM_DATA<6>"  LOC = "AF5"  ; 
NET "SDRAM_DATA<7>"  LOC = "AF4"  ; 
NET "SDRAM_DATA<8>"  LOC = "AL1"  ; 
NET "SDRAM_DATA<9>"  LOC = "AK1"  ; 
NET "SDRAM_ODQM<0>"  LOC = "AH4"  ; 
NET "SDRAM_ODQM<1>"  LOC = "AB13"  ; 
NET "SDRAM_ODQM<2>"  LOC = "AB12"  ; 
NET "SDRAM_ODQM<3>"  LOC = "AM2"  ; 
NET "SDRAM_Rasn"  LOC = "AK2"  ; 
NET "SDRAM_Wen"  LOC = "AE8"  ; 

# fpga user led
NET "LCD_DATA<0>"  LOC = "C22"  ; 
NET "LCD_DATA<1>"  LOC = "B22"  ; 
NET "LCD_DATA<2>"  LOC = "A30"  ; 
NET "LCD_DATA<3>"  LOC = "B30"  ; 
NET "LCD_DATA<4>"  LOC = "K24"  ; 
NET "LCD_DATA<5>"  LOC = "J24"  ; 
NET "LCD_DATA<6>"  LOC = "C29"  ; 
NET "LCD_DATA<7>"  LOC = "C30"  ; 
NET "LCD_EN"  LOC = "B21"  ; 
NET "LCD_RS"  LOC = "E28" ; 
NET "LCD_RW"  LOC = "A21" ; 
NET "LEDS<0>"  LOC = "B23"  ; 
NET "LEDS<1>"  LOC = "A23"  ; 
NET "LEDS<2>"  LOC = "A26"  ; 
NET "LEDS<3>"  LOC = "B26"  ; 
NET "LEDS<4>"  LOC = "A24"  ; 
NET "LEDS<5>"  LOC = "A25"  ; 
NET "LEDS<6>"  LOC = "G25"  ; 
NET "LEDS<7>"  LOC = "H25"  ; 

NET "SEGCOM<0>"  LOC = "H34"  ; 
NET "SEGCOM<1>"  LOC = "H33"  ; 
NET "SEGCOM<2>"  LOC = "M28"  ; 
NET "SEGCOM<3>"  LOC = "M27"  ; 
NET "SEGCOM<4>"  LOC = "L31"  ; 
NET "SEGCOM<5>"  LOC = "L30"  ; 
NET "SEGCOM<6>"  LOC = "K31"  ; 
NET "SEGCOM<7>"  LOC = "J31"  ; 
NET "SEGOUT<0>"  LOC = "J32"  ; 
NET "SEGOUT<1>"  LOC = "H32"  ; 
NET "SEGOUT<2>"  LOC = "R24"  ; 
NET "SEGOUT<3>"  LOC = "P24"  ; 
NET "SEGOUT<4>"  LOC = "L29"  ; 
NET "SEGOUT<5>"  LOC = "L28"  ; 
NET "SEGOUT<6>"  LOC = "R19"  ; 
NET "SEGOUT<7>"  LOC = "P20"  ; 

#TFT-LCD 
NET "LCD_D<0>"  LOC = "AL21";
NET "LCD_D<1>"  LOC = "AH28";
NET "LCD_D<2>"  LOC = "AH29";
NET "LCD_D<3>"  LOC = "AP30";
NET "LCD_D<4>"  LOC = "AN30";
NET "LCD_D<5>"  LOC = "AG27";
NET "LCD_D<6>"  LOC = "AG28";
NET "LCD_D<7>"  LOC = "AM21";
NET "LCD_D<8>"  LOC = "AM22";
NET "LCD_D<9>"  LOC = "AM30";
NET "LCD_D<10>"  LOC = "AL30";
NET "LCD_D<11>"  LOC = "AN27";
NET "LCD_D<12>"  LOC = "AP31";
NET "LCD_D<13>"  LOC = "AP32";
NET "LCD_D<14>"  LOC = "AK22";
NET "LCD_D<15>"  LOC = "AK23";
NET "LCD_HSYNC" LOC = "AL29";
NET "LCD_DE" LOC = "AP26";
NET "LCD_CLK" LOC = "AL28";
NET "LCD_VSYNC" LOC = "AP25";
NET "LCD_LEND" LOC = "AJ27";
NET "LCD_BK_ON" LOC = "AH27";

NET "nRESET" LOC = "AK17";
NET "nSYSPOR_in"  LOC = "AH17"  ; 
NET "nSYSRST"  LOC = "H18"  ; 
NET "PLDCLK"  LOC = "AL3"  ; 
NET "PLDI"  LOC = "AG15" | SLEW = FAST ; 
NET "PLDO"  LOC = "AH20"  ; 
NET "RXD0"  LOC = "R9"  ; 
NET "SW_in<0>"  LOC = "AL8"  ; 
NET "SW_in<1>"  LOC = "AK8"  ; 
NET "SW_in<2>"  LOC = "AH8"  ; 
NET "SW_in<3>"  LOC = "AH7"  ; 
NET "SW_in<4>"  LOC = "AM13"  ; 
NET "SW_in<5>"  LOC = "AN13"  ; 
NET "SW_in<6>"  LOC = "AM6"  ; 
NET "SW_in<7>"  LOC = "AM5"  ; 

NET "CLK_PLL" LOC = "AJ19" ;




NET "TXD0"  LOC = "T10"  ; 
NET "RXD1"  LOC = "P6"  ; 
NET "TXD1"  LOC = "P7"  ; 
NET "XU<0>"  LOC = "AM16"  ; 
NET "XU<100>"  LOC = "B5"  ; 
NET "XU<101>"  LOC = "A5"  ; 
NET "XU<102>"  LOC = "E12"  ; 
NET "XU<103>"  LOC = "E13"  ; 
NET "XU<104>"  LOC = "A3"  ; 
NET "XU<105>"  LOC = "A4"  ; 
NET "XU<106>"  LOC = "E9"  ; 
NET "XU<107>"  LOC = "D9"  ; 
NET "XU<108>"  LOC = "D6"  ; 
NET "XU<109>"  LOC = "D7"  ; 
NET "XU<10>"  LOC = "AP20"  ; 
NET "XU<110>"  LOC = "A13"  ; 
NET "XU<111>"  LOC = "A14"  ; 
NET "XU<112>"  LOC = "H9"  ; 
NET "XU<113>"  LOC = "H10"  ; 
NET "XU<114>"  LOC = "D10"  ; 
NET "XU<115>"  LOC = "D11"  ; 
NET "XU<116>"  LOC = "G10"  ; 
NET "XU<117>"  LOC = "F10"  ; 
NET "XU<118>"  LOC = "G11"  ; 
NET "XU<119>"  LOC = "G12"  ; 
NET "XU<11>"  LOC = "AN20"  ; 
NET "XU<120>"  LOC = "C8"  ; 
NET "XU<121>"  LOC = "C9"  ; 
NET "XU<122>"  LOC = "B11"  ; 
NET "XU<123>"  LOC = "A11"  ; 
NET "XU<124>"  LOC = "C10"  ; 
NET "XU<125>"  LOC = "B10"  ; 
NET "XU<126>"  LOC = "AP29"  ; 
NET "XU<127>"  LOC = "D22"  ; 
NET "XU<128>"  LOC = "A31"  ; 
NET "XU<129>"  LOC = "E26"  ; 
NET "XU<12>"  LOC = "AF15"  ; 
NET "XU<130>"  LOC = "D26"  ; 
NET "XU<131>"  LOC = "E23"  ; 
NET "XU<132>"  LOC = "D27"  ; 
NET "XU<133>"  LOC = "E24"  ; 
NET "XU<134>"  LOC = "F24"  ; 
NET "XU<135>"  LOC = "L26"  ; 
NET "XU<136>"  LOC = "M1"  ; 
NET "XU<137>"  LOC = "N5"  ; 
NET "XU<138>"  LOC = "F28"  ; 
NET "XU<139>"  LOC = "P5"  ; 
NET "XU<13>"  LOC = "AD16"  ; 
NET "XU<140>"  LOC = "J25"  ; 
NET "XU<141>"  LOC = "F31"  ; 
NET "XU<143>"  LOC = "AP22"  ; 
NET "XU<148>"  LOC = "J7"  ; 
NET "XU<149>"  LOC = "K8"  ; 
NET "XU<14>"  LOC = "AB18"  ; 
NET "XU<150>"  LOC = "H7"  ; 
NET "XU<151>"  LOC = "H8"  ; 
NET "XU<152>"  LOC = "B2"  ; 
NET "XU<153>"  LOC = "B3"  ; 
NET "XU<154>"  LOC = "D14"  ; 
NET "XU<155>"  LOC = "E14"  ; 
NET "XU<156>"  LOC = "G6"  ; 
NET "XU<157>"  LOC = "G7"  ; 
NET "XU<158>"  LOC = "D5"  ; 
NET "XU<159>"  LOC = "C5"  ; 
NET "XU<15>"  LOC = "AC19"  ; 
NET "XU<160>"  LOC = "F6"  ; 
NET "XU<161>"  LOC = "E6"  ; 
NET "XU<162>"  LOC = "C13"  ; 
NET "XU<163>"  LOC = "C14"  ; 
NET "XU<164>"  LOC = "G8"  ; 
NET "XU<165>"  LOC = "F8"  ; 
NET "XU<166>"  LOC = "A9"  ; 
NET "XU<167>"  LOC = "A10"  ; 
NET "XU<168>"  LOC = "C7"  ; 
NET "XU<169>"  LOC = "B7"  ; 
NET "XU<16>"  LOC = "AN15"  ; 
NET "XU<170>"  LOC = "J11"  ; 
NET "XU<171>"  LOC = "H12"  ; 
NET "XU<172>"  LOC = "B6"  ; 
NET "XU<173>"  LOC = "A6"  ; 
NET "XU<174>"  LOC = "F11"  ; 
NET "XU<175>"  LOC = "E11"  ; 
NET "XU<176>"  LOC = "B8"  ; 
NET "XU<177>"  LOC = "A8"  ; 
NET "XU<178>"  LOC = "B12"  ; 
NET "XU<179>"  LOC = "B13"  ; 
NET "XU<17>"  LOC = "AP15"  ; 
NET "XU<18>"  LOC = "AF21"  ; 
NET "XU<19>"  LOC = "AE21"  ; 
NET "XU<1>"  LOC = "AM17"  ; 
NET "XU<20>"  LOC = "AG13"  ; 
NET "XU<21>"  LOC = "AF14"  ; 
NET "XU<22>"  LOC = "AF20"  ; 
NET "XU<23>"  LOC = "AG21"  ; 
NET "XU<24>"  LOC = "AK14"  ; 
NET "XU<25>"  LOC = "AL14"  ; 
NET "XU<26>"  LOC = "AH22"  ; 
NET "XU<27>"  LOC = "AG22"  ; 
NET "XU<28>"  LOC = "AB15"  ; 
NET "XU<29>"  LOC = "AC15"  ; 
NET "XU<2>"  LOC = "AM18"  ; 
NET "XU<30>"  LOC = "AJ21"  ; 
NET "XU<31>"  LOC = "AJ22"  ; 
NET "XU<32>"  LOC = "AE18"  ; 
NET "XU<33>"  LOC = "AG18" | SLEW = SLOW  | DRIVE = 24 ; 
NET "XU<34>"  LOC = "AJ17"  ; 
NET "XU<35>"  LOC = "D31"  ;
NET "XU<36>"  LOC = "G27"  ; 
NET "XU<37>"  LOC = "G28"  ; 
NET "XU<38>"  LOC = "C28"  ; 
NET "XU<39>"  LOC = "D30"  ; 
NET "XU<3>"  LOC = "AL18"  ; 
NET "XU<40>"  LOC = "E27"  ; 
NET "XU<41>"  LOC = "G23"  ; 
NET "XU<42>"  LOC = "H24"  ; 
NET "XU<43>"  LOC = "A28"  ; 
NET "XU<44>"  LOC = "F29"  ; 
NET "XU<45>"  LOC = "F30"  ; 
NET "XU<46>"  LOC = "D29"  ; 
NET "XU<47>"  LOC = "C25"  ; 
NET "XU<48>"  LOC = "B25"  ; 
NET "XU<49>"  LOC = "B28"  ; 
NET "XU<4>"  LOC = "AB16"  ; 
NET "XU<50>"  LOC = "E22"  ; 
NET "XU<51>"  LOC = "K26"  ; 
NET "XU<52>"  LOC = "E29"  ; 
NET "XU<53>"  LOC = "L25"  ; 
NET "XU<54>"  LOC = "AH14"  ; 
NET "XU<55>"  LOC = "AN33"  ; 
NET "XU<56>"  LOC = "AN32"  ; 
NET "XU<57>"  LOC = "AE26"  ; 
NET "XU<58>"  LOC = "AF26"  ; 
NET "XU<5>"  LOC = "AB17"  ; 
NET "XU<60>"  LOC = "AP21"  ; 
NET "XU<61>"  LOC = "AJ14"  ; 
NET "XU<62>"  LOC = "AG20"  ; 
NET "XU<63>"  LOC = "AF18"  ; 
NET "XU<64>"  LOC = "D12"  ; 
NET "XU<65>"  LOC = "C12"  ; 
NET "XU<66>"  LOC = "AE27"  ; 
NET "XU<67>"  LOC = "AF28"  ; 
NET "XU<68>"  LOC = "AJ29"  ; 
NET "XU<69>"  LOC = "AK29"  ; 
NET "XU<6>"  LOC = "AL19"  ; 
NET "XU<70>"  LOC = "AM28"  ; 
NET "XU<71>"  LOC = "AN28"  ; 
NET "XU<72>"  LOC = "AH24"  ; 
NET "XU<73>"  LOC = "AH23"  ; 
NET "XU<74>"  LOC = "AG26"  ; 
NET "XU<76>"  LOC = "AG25"  ; 
NET "XU<77>"  LOC = "AF24"  ; 
NET "XU<7>"  LOC = "AM20"  ; 
NET "XU<8>"  LOC = "AC17"  ; 
NET "XU<90>"  LOC = "AG23"  ; 
NET "XU<91>"  LOC = "AK28"  ; 
NET "XU<92>"  LOC = "AK27"  ; 
NET "XU<93>"  LOC = "AJ24"  ; 
NET "XU<94>"  LOC = "AK24"  ; 
NET "XU<95>"  LOC = "AN29"  ; 
NET "XU<96>"  LOC = "K9"  ; 
NET "XU<97>"  LOC = "J9"  ; 
NET "XU<98>"  LOC = "E7"  ; 
NET "XU<99>"  LOC = "E8"  ; 
NET "XU<9>"  LOC = "AD17"  ; 

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
